@import "../../style.scss";

.cart-container {
    position: relative;
    width: 100%;
    height: auto;

    button {
        position: relative;
        width: 220px;
        height: 40px;
        outline: none;
        border: $font_color solid 2px;
        cursor: pointer;
        background-color: transparent;
        color: $font_color;
        font-size: 1.1rem;
        transition: all 0.35s ease;
        top: -10px;
        &:hover {
            background-color: $font_color;
            color: $secondary_color;
        }
    }

    .cart-element-container {
        width: 850px;
        height: 230px;
        background-color: $secondary_color;
        display: flex;
        justify-content: space-between ;
        align-items: center;
        margin-bottom: 25px;
        
        .cart-element-img {
            margin-left: 15px;
            img {
                width: 320px;
                height: 190px;
            }
        }

        .cart-element-desc {
            position: relative;
            height: 180px;
            text-align: left;
            width: 250px;

            .short-desc {
                position: relative;
                top: 12px;
                color: rgb(156, 156, 156);

                p {
                    font-size: 1.35rem;
                    margin-top: -19px;
                }
            }
            
            p.carName {
                font-size: 1.7rem;
            }

            p {
                position: relative;
                top: 25px;
                margin-top: -25px;
                font-size: 1.4rem;
            }
        }

        .cart-element-check {
            width: 220px;
            margin-right: 15px;

            p {
                margin-top: -5px;
                color: rgb(245, 245, 245);
                font-size: 1.5rem;
            }

            p.extra {
                color: rgb(156, 156, 156);
                font-size: 1.2rem;
            }
        }
    
        @media screen and (max-width: 1370px) {
            transform: scale(0.8);
            position: relative;
            left: -80px;
            top: -23px;
            margin-bottom: -25px;
        }

        @media screen and (max-width: 700px) {
            transform: scale(0.6);
            position: relative;
            left: -165px;
            top: -47px;
            margin-bottom: -75px;
        }

        @media screen and (max-width: 544px) {
            transform: scale(1);      
            position: relative;
            width: 100%;
            left: 0; 
            align-items: flex-start;    
            flex-direction: column;
            top: 0px;
            height: auto;
            margin-bottom: 25px;

            .cart-element-img {
                margin-top: 15px;

                img {
                    width: 30%;
                    height: auto;
                }
            }

            .cart-element-desc {
                position: absolute;
                top: 15px;
                right: 15px;
                text-align: right;

               .short-desc {
                    p {
                        font-size: 1.1rem;
                    }
                }

                p.carName {
                    font-size: 1.45rem;
                }

                p {
                    top: 10px;
                    font-size: 1.15rem;
                    margin-top: -15px;
                }
            }
            
            .cart-element-check {
                width: 100%;
                position: relative;
                display: flex;
                justify-content: center;   
                flex-direction: column;
                padding-top: 65px;
                text-align: center;

                button { 
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;       
                }
            }
        }

        @media screen and (max-width: 320px) {
            .cart-element-img {
                margin-top: 15px;

                img {
                    width: 26%;
                }
            }
        }
    }

    .cart-checkout-container {
        position: relative;
        display: flex;
        height: 80px;
        align-items: center;

        button {
            margin-right: 10px;
        }

        p.total-price {
            position: absolute;
            top: -15px;
            right: 0;
        }

        @media screen and (max-width: 735px) {
            align-items: flex-start;
            top: 15px;
            p.total-price {
                position: absolute;
                left: 0;
                top: 20px;
            }
        }
    }
}