.site-content-container-content {
    font-size: 1.6rem;
    text-align: justify;

    .icons-creator {
        text-align: center;
        font-size: 1.9rem;
        text-decoration: underline;
    }

    @media screen and (max-width: 760px) {
        font-size: 1.4rem;
    }

    @media screen and (max-width: 390px) {
        font-size: 1.2rem;
    }
}